@import "./components/Digitalclock/Digitalclock.scss";
@import "./components/Countdown/Countdown.scss";
@import "./components/Chronometer/Chronometer.scss";

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;

}

body {
  background: black;
}
